<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368935493219-gk4omum1c3utkmi7rn19j02ie9vi3nsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368935493219-gk4omum1c3utkmi7rn19j02ie9vi3nsl</string>
	<key>API_KEY</key>
	<string>AIzaSyAxmv8o1RWJpMWdw3CWJCCCtnmUGf2L1Yk</string>
	<key>GCM_SENDER_ID</key>
	<string>368935493219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rosehulman.petersjl.Sale-Waypoint</string>
	<key>PROJECT_ID</key>
	<string>sale-waypoint</string>
	<key>STORAGE_BUCKET</key>
	<string>sale-waypoint.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368935493219:ios:944ce3049d8d6c448d6256</string>
	<key>DATABASE_URL</key>
	<string>https://sale-waypoint.firebaseio.com</string>
</dict>
</plist>